/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
.color {
    background-color: #1a0b2e;
}
.main-part{
   background-color: #1A0B2E;
}


.font {
    font-family: "Inter", sans-serif;
}

/* HEADER */
.top-section {
    background-color: #1a0b2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.container {
    display: flex;
    gap: 15px;
}

.container a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
}

.style {
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}

/* MAIN HERO CONTAINER */
.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
}

/* HERO IMAGE */
.hero-container {
    position: relative;
    width: 320px;  /* fixed size */
    height: 320px; /* fixed size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.newbadge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #00ff9d;
    color: #000;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 0 12px #00ff9d;
    z-index: 10;
}

/* HERO TEXT BOX */
.box {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-title {
    font-size: 2rem;
    color:#FFFFFF;
    font-weight: 800;
}

.hero-bio {
    color: #FFFFFF;
    max-width: 400px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1rem;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.spotify-btn
 {
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
}
.subscribe-btn{
color: rgba(0, 255, 136, 1);
 border-radius: 10px;
 background-color:#412567;
 border: none;
}

 
.info{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 4rem;
}
.bio1{
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 400;

}
.number{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
}
.info1{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 10px;
}
.container1{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px;
}
.heading{
    text-align: center;
}
.bio1{
    max-width: 800px;
    margin: 0 auto;

}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;

}
.state-item{
    flex:1;
}