
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
  background-color: #16082b;
}

.color1{
    background-color: #230E3D;
}
.color {
    background-color: #1a0b2e;
}
.main-part{
   background-color: #1A0B2E;
}


.font {
    font-family: "Inter", sans-serif;
}


.top-section {
    background-color: #1a0b2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.container {
    display: flex;
    gap: 15px;
}

.container a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
}

.style {
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
}


.hero-container {
    position: relative;
    width: 320px;  /* fixed size */
    height: 320px; /* fixed size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.newbadge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #00ff9d;
    color: #000;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 0 12px #00ff9d;
    z-index: 10;
}


.box {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-title {
    font-size: 2rem;
    color:#FFFFFF;
    font-weight: 800;
}

.hero-bio {
    color: #FFFFFF;
    max-width: 400px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1rem;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.spotify-btn
 {
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
}
.subscribe-btn{
color: rgba(0, 255, 136, 1);
 border-radius: 10px;
 background-color:#412567;
 border: none;
}

 
.info{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 4rem;
}
.bio1{
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 400;

}
.number{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
}
.info1{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 10px;
}
.container1{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px;
}
.heading{
    text-align: center;
}
.bio1{
    max-width: 800px;
    margin: 0 auto;

}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;

}
.state-item{
    flex:1;
}
.container-1{
    background-color: #230E3D;
    width: 100%;
    padding: 40px;
}
.why-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 40px;
}
.box-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    gap: 10px;
}
.card{
  background-color: #2E1157; 
  border: 1px solid #351165;
  border-radius: 16px;
  padding:20px;
  gap: 30px;
}
.card h3{
    font-size: 1.5rem;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 12px;
}
.card p{
    font-size: 1.25rem;
    font-weight: 400;
    color:#FFFFFF;
}
.card img{
  width: 36px;
  height: 36px;
  object-fit: contain;
  margin-bottom: 18px;
}

.card-tall{
  grid-row:span 2;
}
.card-1,.card-2{
    grid-column: span 2;
}
.card-wide{
    grid-column: span 2;
}
.featured{
      background-color: #1A0B2E;
       padding: 100px 0;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    
}
.episode-grid{
    display: grid;
   width: 1200px;
    gap: 20px;
     margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: 1fr;
 
}

  .shared-color{
     background-color: #250D44;
     width: 100%;
     
  }
.f-1{
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color:#FFFFFF;
    padding: 12px;
   
}
.f-2{
     padding-top: 12px;
   font-size: 1rem;
    font-weight: 400;
    color:#FFFFFF; 
    padding: 12px;
}
.duration{
    color: #00FF88;
    padding: 12px;
}
.episode-card iframe{
    width: 100%;
    height: 200px;
   border-radius: 12px;
   margin-bottom: 20px;
   display: block;
   margin: 0;
   
}
.host-card{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 1200px;
    margin: 0 auto;
    padding: 32px;
  border-radius: 24px;
}
.socials{
    display: flex;
  gap: 8px;
  align-items: center;

}

.host{
  padding-top: 40px;
}
.name{
    font-weight: 700;
    font-size: 2rem;
     color: #FFFFFF;
     margin-bottom: 10px;

}
.bio-3{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 10px;

}
.img-color{
    background-color:rgba(53, 17, 101, 0.4);
}
.socials span{
   width: 20px;
   height: 20px;
    border:1px solid rgb(255, 0, 208);
   border-radius: 50%;
   padding:15px;
    display: flex;
  align-items: center;
  justify-content: center;
   
}
.footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-part{
    font-weight: 600;
    font-size: 6.5rem;
    color: #FFFFFF;
    margin-bottom:10px;
    transform: translateY(-40px);
}
.style1{
     background: linear-gradient(135deg, #ffd84d, #ff3cac 45%, #784ba0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: -50px;
    
    
}
.footer-links span{
    display: flex;
  font-size: 1rem;      
  color: #ffffff; 
  font-weight: 500;  
  margin-bottom: 20px;  
 align-items: center;
 gap: 10px;
 line-height: 1;

  

}
.footer-links span img{
  height:20px;
  width: 20px;
  display: block;
}


.footer-copy{
    font-weight: 200;
    font-size: 1rem;
    color: #FAFAFA;
    margin-top: 5px;
}